@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional transitions */
html {
  transition: background-color 0.3s ease, color 0.3s ease;
}

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  
}
body{
     font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  background: #ebdede;
  overflow-x: hidden;
}
p{
  font-size: 14px;
  line-height: 28px;
  margin-bottom: 10px;
  margin-top: 10px;
}
::-webkit-scrollbar {
  width: 10px !important;
  height: 8px !important;
}
::-webkit-scrollbar-thumb {
  background: #f8993b !important;
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background: #fff !important;
}

.container {width: 95%;margin: auto;}

.btn-lg{font-size: 18px ; padding: 10px 20px !important}

header .top-strip{
    border-top:1px soild rgba(0, 0, 0, 0.1);
    border-bottom:1px soild rgba(0, 0, 0, 0.1);
}

.bg-org{background:#f8993b ;}
.link:hover{color:#f8993b;}
.slider{
overflow: inherit !important;
}
.MuiTabs-indicator {
  background-color: #f8993b !important;
}
.MuiTab-textColorPrimary.Mui-selected{
  color: #f8993b!important;
}
.scroll::-webkit-scrollbar{width: 5px !important;}
.scroll::-webkit-scrollbar-thumb{background: #ccc !important;}

.productSlider .swiper-wrapper{padding:15px; margin-left: -15px; margin-right: -15px;}       

[data-theme="dark"] {
  --background-color: #0a0a0a;
  --foreground-color: #567aff;
  --primary-text-color: #f6f6f6;
  --secondary-text-color: #0a0a0a;
  --toggle-bg: #283452;
  --toggle-fg: #00a6ff;
}

.MuiCheckbox-root{Padding:6px !important}

.zoomProductSlider .swiper-slide{
  height:auto !important

}
.zoomProductSlider {
  height:50vh;
  overflow:hidden;
}

.cartPanel .MuiPaper-root{width: 400px ; overflow: hidden;}